
body, html {
    height: 100%;
  }
  .navbar{
      height: 80px;
  }
.bg { 
    /* The image used */
    background-image: url("../images/soccer-stadium.jpg");
  
    /* Full height */
    height: 100%; 
 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .btn-group {
    width: 100%;
   
    text-align: justify;
}